.breadcrumb {
    border-bottom: 1px solid #C4C4C4;
    padding: 25px 0;
    &__container{
        display: flex;
        align-items: center;
    }
    &__link {
        display: inline-block;
        padding: 0  10px;
        color: #000000;
        font-size: 15px;
        line-height: 14px;

    }
    &__arrow {
    }
}
