.mobile-nav-button {
    /* Reset for button */
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
    /* Nav icon styles*/
    position: relative;
    z-index: 999;
    width: 28px;
    height: 30px;
    border-radius: 3px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

@media (max-width: 780px) {
    .mobile-nav-button {
        display: flex;
    }
}

.mobile-nav-button__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #292527;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
    position: absolute;
    content: '';
    width: 28px;
    height: 3px;
    background-color: #292527;
    border-radius: 3px;
    /* Трансформация при закрывании */
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon::before {
    left: 0;
    top: -8px;
}

.mobile-nav-button__icon::after {
    left: 0;
    top: 8px;
}

.mobile-nav-button__icon.active {
    background-color: transparent;
}

.mobile-nav-button__icon.active::before {
    transform: rotate(45deg);
    top: 0;
    /* Трансформация при открывании */
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon.active::after {
    transform: rotate(-45deg);
    top: 0;
    /* Трансформация при открывании */
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}