.raiting {
    display: inline-flex;
    
}

.raiting__item {
    margin-right: 10px;
    color: #FF2C02;
    cursor: pointer;
    font-size: 25px;
    @media (max-width: 320px) {
        font-size: 16px;
        margin-right: 8px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
        margin-right: 8px;
    }
}

.five-star {
    color: #000000;
    
}